---
layout: default
title: GitLab Pricing FAQ
description: "Frequently asked questions related to the pricing of GitLab."
canonical_path: "/pricing/faq/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - pricing2020.css
extra_js:
  - libs/slick.min.js
---

%script{src: cache_bust("/javascripts/pricing.js", cache_bust_value)}

.pricing-page

  .container.slp-container#faq
    .row.faq.text-center.u-padding-top-md.u-padding-bottom-md
      %h2.text-center Frequently asked questions
      .faq-holder.text-left
        = partial 'includes/layout/faq_list', locals: { faq_open: true }
