:markdown
  CI/CD Backend [Developers](/job-families/engineering/backend-engineer/)
  are primarily tasked with improving the Continuous Integration (CI) and
  Continuous Deployment (CD) functionality in GitLab.
  See the description on the [CI/CD team](/handbook/backend#cicd) for more
  details.
  CI/CD Backend [Developers](/job-families/engineering/backend-engineer/) report to the
  [CI/CD Lead](/job-families/ci-cd-lead/).
